#square {
    height: 100px;
    width: 100px;
    margin-top: 10px;
    margin-bottom: 10px;
    border-style: solid;
    border-width: 1px;
    padding: 20px;
}

#circle {
    height: 100%;
    width: 100%;
    border-style: solid;
    border-width: 1px;
    border-radius: 100%;
}

/* Margin and padding around player's names */
.inline {
    display: inline;
    padding: 10px;
    margin: 10px    
}