#square {
    height: 100px;
    width: 100px;
    margin: 10px;
    border-style: ridge;
    padding: 20px;
}

#circle {
    height: 100%;
    width: 100%;
    border-style: ridge;
}

/* Margin and padding around player's names */
.inline {
    display: inline;
    padding: 10px;
    margin: 10px    
}